.custom_graph_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.custom_carousel_div {
    min-height: 350px;
    padding: 25px;
}

.custom_carousel_item {
    pointer-events: none;
    text-align: center;
    font-size: 4px;
    font-weight: bold;
}